<div class="container">
  <h1>Stupid Coaching</h1>
  <div class="message">
    <h2><%= @question %></h2>
    <p> -- You</p>
  </div>
  <div class="message coach">
    <h2><%= @answer %></h2>
    <p> -- Your coach</p>
  </div>

  <%= link_to "Ask another question", ask_path %>
</div>
